* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: radial-gradient(at 91% 84%, #e6e9af 0px, transparent 50%), radial-gradient(at 34% 90%, #0e6552 0px, transparent 50%), radial-gradient(at 22% 19%, #fbc6e0 0px, transparent 50%), radial-gradient(at 84% 15%, #ddea91 0px, transparent 50%), #cfe7da;
}

h1 {
  text-align: center;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  color: white;
  text-shadow: 4px 4px 4px black;
}

h2 {
  text-align: center;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.hidden {
  display: none !important;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.timer {
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.timerwarning {
  color: red;
  font-weight: bold;
}

#pfp {
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  border: 1px solid black;
}

#gamephase {
  align-self: start;
}
#gameOutcome {
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
#gameContainer {
  display: flex;
  flex-direction: row;
  color: white;
}
#gameContainerLeft {
  width: 30vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid white;
  border-radius: 10px;
}
#gameContainerRight {
  width: 50vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 10vw;
}

#description {
  font-size: 1vw;
  height: 5vh;
  margin: 10px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 20px;
}

.arrows button {
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.vote-button {
  margin: 5px;
  padding: 5px 10px;
}

.player-pfp,
.vote-pfp,
.result-pfp {
  width: 5vw;
  height: 5vw;
  border-radius: 1vw;
  margin-right: 10px;
  vertical-align: middle;
}

#playerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 57vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 2vw;
}

#playerList p,
.vote-option,
.result-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 13vw;
}

.result-item, .vote-option {
  width: 15vw;
}

#gamePhase {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 5vh;
}

.player-points,
.vote-points,
.result-points {
  font-size: 0.9em;
  color: #666;
}

#usernameScreen {
  width: 40vw;
  height: 80vh;
  margin: 0 30vw;
}
#usernameScreen div {
  justify-content: unset !important;
}
#usernameInput {
  background-color: rgba(0, 0, 0, 0.2);
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  margin-top: 2vh;
}
#usernameSubmit {
  background-color: rgba(0, 0, 0, 0.75);
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  color: white;
  border-radius: 1.5vw;
  margin-top: 6vh;
}
#usernameSubmit:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

#buttonContainer {
  display: flex;
  flex-direction: row;
}
#buttonContainer button {
  width: 5vw;
  height: 5vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  font-size: 1.2vw;
}
#buttonContainer button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#left-arrow {
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

#right-arrow {
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

textarea {
  width: 100%;
  height: 15vh;
  font-size: 5vh;
  text-align: center;
}

#questionPhase {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#votingOptions {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding: 0 2vw;
}

#submitAnswer {
  width: 15vw;
  height: 5vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  font-size: 1.2vw;
  border-radius: 20px;
  margin-top: 5vh;
}

#submitAnswer:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

#resultsPhase {
  display: flex;
  height: 65vh;
  flex-direction: column;
}

#voteResults {
  height: 45vh;
  padding: 0 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#impostorReveal,
#revealQuestion {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}