* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(at 91% 84%, #e6e9af 0px, transparent 50%), radial-gradient(at 34% 90%, #0e6552 0px, transparent 50%), radial-gradient(at 22% 19%, #fbc6e0 0px, transparent 50%), radial-gradient(at 84% 15%, #ddea91 0px, transparent 50%), #cfe7da;
}

.hidden {
  display: none !important;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.timer {
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.timerwarning {
  color: red;
  font-weight: bold;
}

#gameOutcome {
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#gameContainer {
  display: flex;
  flex-direction: row;
  color: white;
}

#gamePhase {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 5vh;
  border-bottom: 1px solid white;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 20px;
}
.arrows button {
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.vote-button {
  margin: 5px;
  padding: 5px 10px;
}

.player-points,
.vote-points,
.result-points {
  font-size: 0.9em;
  color: #666;
}

#playerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 57vh;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
}

#questionPhase {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#votingOptions {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;
  padding: 0 2vw;
}

#resultsPhase {
  display: flex;
  height: 65vh;
  flex-direction: column;
}

#voteResults {
  padding: 0 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

#impostorReveal,
#revealQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;
    text-shadow: 4px 4px 4px black;
    margin-bottom: 5vh;
  }
  h2 {
    text-align: center;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
  }
  #pfp {
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
    border: 1px solid black;
  }
  #gameContainerLeft {
    width: 30vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5vw;
  }
  #gameContainerRight {
    width: 50vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10vw;
  }
  #description {
    font-size: 1vw;
    height: 5vh;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .player-pfp,
  .vote-pfp,
  .result-pfp {
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    margin-right: 10px;
    vertical-align: middle;
  }
  #playerList p {
    display: flex;
    align-items: center;
    width: 14vw;
    height: 5.5vw;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 0.5vw;
    margin-right: 5px;
  }
  .result-item,
  .vote-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 15vw;
  }
  .result-item p,
  .vote-option p {
    font-size: 1vw;
  }
  #usernameScreen {
    width: 40vw;
    height: 80vh;
    margin: 0 30vw;
  }
  #usernameScreen div {
    justify-content: unset !important;
  }
  #usernameInput {
    background-color: rgba(0, 0, 0, 0.2);
    width: 15vw;
    height: 8vh;
    font-size: 3vh;
    margin-top: 2vh;
    text-align: center;
  }
  #usernameSubmit {
    background-color: rgba(0, 0, 0, 0.75);
    width: 15vw;
    height: 8vh;
    font-size: 3vh;
    color: white;
    border-radius: 1.5vw;
    margin-top: 6vh;
  }
  #usernameSubmit:hover {
    background-color: rgba(0, 0, 0, 0.95);
  }
  #buttonContainer {
    display: flex;
    flex-direction: row;
  }
  #buttonContainer button {
    width: 5vw;
    height: 5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    font-size: 1.2vw;
  }
  #buttonContainer button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #left-arrow {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
  }
  #right-arrow {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  textarea {
    width: 80%;
    height: 15vh;
    font-size: 5vh;
    text-align: center;
  }
  #submitAnswer {
    width: 15vw;
    height: 7vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    font-size: 1.2vw;
    border-radius: 20px;
  }
  #submitAnswer:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #voteResults {
    height: 35vh;
  }
  #question {
    font-size: 1.1vw;
  }
  #impostorReveal,
  #revealQuestion {
    height: 5vh;
  }
}
@media (max-width: 767px) {
  h1 {
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: white;
    text-shadow: 4px 4px 4px black;
  }
  h2 {
    text-align: center;
    font-size: 1.75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
  }
  #pfp {
    width: 40vw;
    height: 40vw;
    border-radius: 10%;
    border: 1px solid black;
  }
  #gameContainerLeft {
    width: 35vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5vw;
  }
  #gameContainerRight {
    width: 50vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5vw;
  }
  #description {
    font-size: 5vw;
    height: 5vh;
    margin: 10px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .player-pfp,
  .vote-pfp,
  .result-pfp {
    width: 5vw;
    height: 5vw;
    border-radius: 1vw;
    margin-right: 10px;
    vertical-align: middle;
  }
  #playerList p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 30vw;
    padding-left: 2vw;
  }
  .result-item,
  .vote-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 45vw;
    height: 8vh;
  }
  .result-item p,
  .vote-option p {
    font-size: 4vw;
  }
  #usernameScreen {
    width: 100vw;
    height: 80vh;
    flex-direction: column-reverse !important;
  }
  #usernameScreen div {
    justify-content: unset !important;
  }
  #usernameInput {
    background-color: rgba(0, 0, 0, 0.2);
    width: 50vw;
    height: 8vh;
    font-size: 3vh;
    margin-top: 2vh;
    text-align: center;
  }
  #usernameSubmit {
    background-color: rgba(0, 0, 0, 0.75);
    width: 50vw;
    height: 8vh;
    font-size: 3vh;
    color: white;
    border-radius: 1.5vw;
    margin-top: 6vh;
  }
  #usernameSubmit:hover {
    background-color: rgba(0, 0, 0, 0.95);
  }
  #buttonContainer {
    display: flex;
    flex-direction: row;
  }
  #buttonContainer button {
    width: 10vw;
    height: 10vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    font-size: 4vw;
  }
  #buttonContainer button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #left-arrow {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
  }
  #right-arrow {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
  }
  textarea {
    width: 100%;
    height: 15vh;
    font-size: 3vh;
    text-align: center;
  }
  #votingOptions {
    height: 45vh;
  }
  #submitAnswer {
    width: 40vw;
    height: 5vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    font-size: 4vw;
    border-radius: 20px;
    margin-top: 5vh;
  }
  #submitAnswer:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  #voteResults {
    height: 55vh;
  }
  #impostorReveal {
    height: 5vh;
  }
  #revealQuestion {
    height: 10vh;
  }
  #question {
    text-align: center;
  }
}